.card {
  background-color: aliceblue;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  border-radius: 1em;

  img {
    width: 5em;
    height: 5em;
    object-fit: cover;
    border-radius: 50%;
  }
}
